@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  font-family: Quicksand;
  color:#333;
}

.navbar{
  padding:20px;
  display:flex;
  /* flex-flow:row wrap; */
  align-items: center;
  max-width: 600px;
  margin:0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links{
  margin-left:auto;
}

.navbar a{
  margin-left:25px;
  text-decoration: none;
  padding:6px;
}

.navbar h2{
  color:#f1356d;
  font-family: cursive;
}
.navbar a:hover{
  color:#f1356d;
}

.content{
  max-width: 600px;
  margin:40px auto;
  padding:20px;
}

.blogs{
  padding: 10px 16px;
  margin:20px 0;
  border-bottom:#fafafa;
}
.blogs:hover{
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
}

.blogs a{
  text-decoration: none;
}

.blogs h2,.blogdetails h2{
  color:#f1356d;
  margin: 10px 0;
}

.blogs p{
  margin:6px 0;
}

.blogs button{
  padding:4px 1px;
  width:10%;
  background-color:#fff;
  border:1px solid black;
}

.blogs h3, .blogdetails h3{
  font-family: cursive;
  float:right;
  padding:5px;
  font-size: 16px;
  color:white;
  border-radius: 8px;
  background-color: #f1356d;
}


/* Styling for Form : Add new blog */

.create{
  padding:0 3px;
  max-width: 400px;
  margin:-40px auto;
  /* box-shadow:1px 2px 2px #333; */
  box-shadow:1px 1px 8px #333;
}
.create h2{
  margin:8px auto;
  text-decoration: underline;
  text-align: center;
  color:#f1356d;
  font-size:20px;
}
.create form {
  margin: 12px auto;
  display:flex;
  flex-flow:column wrap;
  background-color: #fafafa;
}

.create form label {
  color:#333;
  display:block;
  font-weight: 700;
  margin: 10px auto;
}


.create input{
  text-align:center;
  font-weight: bold;
  height:12px;
  padding:8px 5px;
}

.create textarea{
  height:80px;
  padding:8px 5px;
}

.create select{
  
  font-weight: bold;
}
.create button{
  margin: 22px auto;
  color:white;
  background-color: #f1356d;
  padding:8px 8px;
}


.create button:hover{
  background-color:rgba(44, 192, 44, 0.822);
}




